@font-face
{
  font-family: 'antoniobold';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/antonio-bold-webfont.eot');
  src: url('../../fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/antonio-bold-webfont.woff2') format('woff2'),
  url('../../fonts/antonio-bold-webfont.woff') format('woff'),
  url('../../fonts/antonio-bold-webfont.ttf') format('truetype'),
  url('../../fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
}

@font-face
{
  font-family: 'antonioregular';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/antonio-regular-webfont.eot');
  src: url('../../fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/antonio-regular-webfont.woff2') format('woff2'),
  url('../../fonts/antonio-regular-webfont.woff') format('woff'),
  url('../../fonts/antonio-regular-webfont.ttf') format('truetype'),
  url('../../fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
}

@font-face
{
  font-family: 'eausans_bold';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/eau_sans_bold-webfont.eot');
  src: url('../../fonts/eau_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/eau_sans_bold-webfont.woff2') format('woff2'),
  url('../../fonts/eau_sans_bold-webfont.woff') format('woff'),
  url('../../fonts/eau_sans_bold-webfont.ttf') format('truetype'),
  url('../../fonts/eau_sans_bold-webfont.svg#eausans_bold') format('svg');
}

@font-face
{
  font-family: 'eausans_book';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/eau_sans_book-webfont.eot');
  src: url('../../fonts/eau_sans_book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/eau_sans_book-webfont.woff2') format('woff2'),
  url('../../fonts/eau_sans_book-webfont.woff') format('woff'),
  url('../../fonts/eau_sans_book-webfont.ttf') format('truetype'),
  url('../../fonts/eau_sans_book-webfont.svg#eausans_book') format('svg');
}

@font-face
{
  font-family: 'montserratbold';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/montserrat-bold-webfont.eot');
  src: url('../../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../../fonts/montserrat-bold-webfont.woff') format('woff'),
  url('../../fonts/montserrat-bold-webfont.ttf') format('truetype'),
  url('../../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
}

@font-face
{
  font-family: 'work_sansbold';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/worksans-bold-webfont.eot');
  src: url('../../fonts/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/worksans-bold-webfont.woff2') format('woff2'),
  url('../../fonts/worksans-bold-webfont.woff') format('woff'),
  url('../../fonts/worksans-bold-webfont.ttf') format('truetype'),
  url('../../fonts/worksans-bold-webfont.svg#work_sansbold') format('svg');
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../../fonts/Montserrat-Black.eot');
  src: url('../../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Montserrat-Black.woff2') format('woff2'),
       url('../../fonts/Montserrat-Black.woff') format('woff'),
       url('../../fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/Montserrat-Regular.eot');
  src: url('../../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../../fonts/Montserrat-Regular.woff') format('woff'),
       url('../../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-default
{
  height: 56px;

  border-style: none;
  background: #1a1a1a;
}

.navbar-default .navbar-brand
{
  padding: 7px;
}

.navbar-default .navbar-brand img
{
  height: 42px;
}

.navbar-default .navbar-nav li a
{
  font-family: 'work_sansbold', Arial, Helvetica, sans-serif;
  line-height: 56px;

  padding: 0 10px 0 10px;

  letter-spacing: 2px;

  color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
  background-color: inherit;
}

.navbar-default .navbar-nav li a:hover
{
  color: #7d7d7d;
}

.navbar-default .navbar-header button
{
  font-size: 36px;

  margin: 2px 10px 2px 0;
  padding: 0;

  color: white;
  border-style: none;
  border-radius: none;
  background: inherit;
}

.navbar-default .navbar-header button:hover
{
  background: inherit;
}

.navbar-collapse
{
  background: #1a1a1a;
}

.collapsing 
{
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .1s ease;
       -o-transition: height .1s ease;
          transition: height .1s ease;
}


#landing
{
  width: 100%;
  height: 100%;
  background: url(http://cdn.ember.gg/academy/images/academylanding.jpg) no-repeat center center fixed;
}



/***********LANDING PAGE***********/
#landing .container
{
  height: 100%;
}

#landing .v-center-wrap
{
  z-index: 1;

  display: table;

  width: 100%;
  height: 100%;
}

#landing .v-center-wrap .v-center
{
  display: table-cell;

  vertical-align: middle;
}

#landing .v-center-wrap .v-center h1
{
  font-family: 'Montserrat-Black', Arial, Helvetica, sans-serif;
  font-size: 6em;

  letter-spacing: 5px;

  color: white;
}
#landing .v-center-wrap .v-center h2
{
  font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
  font-size: 2em;
  line-height: 42px;

  letter-spacing: 2px;

  color: #f5ba3a;
}

/****************************************************************/
#landing2
{
  width: 100%;
  height: 100%;
  background: url('http://cdn.ember.gg/academy/images/whatwedo.jpg');
}

#landing2 .container
{
  height:100%;
}

#landing2 .v-center-wrap
{
  z-index: 1;

  display: table;

  width: 90%;
  height: 100%;
}

#landing2 .v-center-wrap .v-center
{
  display: table-cell;
  vertical-align: middle;
}


#landing2 .v-center-wrap .v-center h1
{
  font-family: 'Montserrat-Black', Arial, Helvetica, sans-serif;
  font-size: 5em;

  letter-spacing: 5px;

  color: #f5ba3a;
}
#landing2 .v-center-wrap .v-center h2
{
  font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  line-height: 42px;

  letter-spacing: 2px;

  color: rgb(249,213,133);
}

#landing2 .v-center-wrap .v-center li
{
  font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  line-height: 42px;
  padding-top: 20px;
  letter-spacing: 2px;

  color: white;
}

/****************************************************************/

#landing3
{
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background-color:rgb(156,35,34);
}

#landing3 .container
{
  height: 100%;
}

#landing3 .slide 
{
  border-bottom: none;
  border-style: none;
}



#landing3 .v-center-wrap
{
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%;
}

#landing3 .v-center-wrap .v-center
{
  display: table-cell;
  width:100%;
  vertical-align: middle;

}

#landing3 .carousel-indicators li 
{ 
  visibility: hidden; 
  border: none !important;}


#landing3 .carousel-control.left, .carousel-control.right 
{
    background-image: none
}



/****************************************************************/

#landing4 
{
  z-index: -100;
  width: 100%;
  height: 100%;
  background: url('http://cdn.ember.gg/academy/images/monicabg.jpg');

}

#landing4 .container
{
  height: 100%;
}

#landing4 .v-center-wrap
{
  z-index: 1;

  display: table;

  width: 100%;
  height: 100%;
}

#landing4 .v-center-wrap .v-center
{
  display: table-cell;

  
  vertical-align: middle;
}


#landing4 .v-center-wrap .v-center h1
{
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  font-size: 6em;
  text-align: center;
  letter-spacing: 3px;


  color: rgb(245,186,58);
}
#landing4 .v-center-wrap .v-center h2
{
  font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 42px;

  letter-spacing: 2px;

  color: rgb(249,213,133);
}

#landing4 .v-center-wrap .v-center h3
{
  font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 42px;

  letter-spacing: 2px;

  color: rgb(249, 213,133);
}

/****************************************************************/

#landing5 
{
  width: 100%;
  height: 100%;
  background: rgb(74,74,78);

}

.content {
  height:100%;
}

#landing5 .container
{
  height: 100%;
}

#landing5 .v-center-wrap
{
  z-index: 1;
  display: table;

  width: 100%;
  height: 100%;
}

#landing5 .v-center-wrap .v-center
{
  display: table-cell;
  padding-top: 20px;
  
  vertical-align: middle;
}


#landing5 .v-center-wrap .v-center h1
{
  font-family: 'Montserrat-Black', Arial, Helvetica, sans-serif;
  font-size: 5em;
  text-align: center;
  letter-spacing: 3px;
  padding-bottom: 30px;
  

  color: rgb(245,186,58);
}

#landing5 .v-center-wrap .v-center h3
{
  font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 3px;
  padding-bottom: 30px;
  

  color: rgb(249,213, 133);
}



/****************************************************************/

#landing6{
  height:100%;
  background: #1a1a1a;
}

#landing6 .v-center-wrap
{
  z-index: 1;
  display: table;

  width: 100%;
  height: 100%;
}

#landing6 .v-center-wrap .v-center
{
  display: table-cell;

  
  vertical-align: middle;
}

#faq-landing {
  background: url(http://cdn.ember.gg/images/headerahri2.jpg);
  height: 400px;
  position: relative;
  z-index: 100;
  background-color: black;
}



#program-landing {
  background: url(http://cdn.ember.gg/images/headerjanna.jpg);
  height: 400px;
  position: relative;
  z-index: 100;
  background-color: black;
}

#program {
  height: 100%;
}


#faq {
  overflow: 'auto';
  height: 'auto';
}




.page-landing-content
{
  position: absolute;
  bottom: 0;

  margin-bottom: 40px;
}

.page-landing-content h1
{
  font-family: montserratbold;
  font-size: 4em;

  color: white;
}

.page-landing-content h2
{
  font-family: antonioregular;
  font-size: 1.5em;

  letter-spacing: 2px;

  color: #f5ba3a;
}

.page-info h1{
  font-family: 'Montserrat-Black';
  font-size: 4em;
  color: rgb(156,35,34);
}

.page-info h2{
  font-family: 'montserratbold';
}

.page-info p{
  font-family: 'Montserrat-Regular';
  color: #5E5E5E;
  padding-bottom: 40px;
}

.page-header-content
{
  width: 100%;
  height: 30px;
  margin-bottom: 30px;

  border-bottom: 1px solid #d6d6d6;
}

.page-header-content h3
{
  font-family: montserrat;

  letter-spacing: 1px;

  color: #d72b2a;
}


.about-us-card-wrap
{
  width: 100%;
  height: 500px;
  border: 2px solid#000;
  border-bottom: 15px solid #000;
  background: rgb(74,74,78);
}

.about-us-card
{
  margin: 40px;

  padding-top: 20px;
}

.card-front h2
{
  font-family: 'work_sansbold';
  font-size: 1.8em;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;

  color: white;
}

.card-front h3
{
  font-family: 'Montserrat-Black';
  font-size: 1.5em;
  text-align: center;
  color: rgb(245,186,58);

}

.card-front h4
{
  font-family: 'Montserrat-Regular';
  text-align: center;
  font-size: 1.3em;
  text-align: center;
  color: rgb(219,213, 204);
  
}

.card-front p
{
  font-family: 'Montserrat-Regular';
  text-align: center;
  padding-top: 20px;
  font-size: 1.0em;
  
  color: rgb(249,213, 133); 
  
}
  

.card-back
{
  font-family: 'eausans_book';
  font-size: 1.1em;
  line-height: 30px;

  display: hidden;

  color: white;
}

.card-container
{
  padding-bottom: 70px;
}

.card
{
  padding: 0 10px 0 10px;
}


.no-padding
{
  padding: 0;
}


.footer
{
  position: relative;
  bottom: 0;

  width: 100%;
  height: 100%;
  margin-right: -15px;

  background: #1a1a1a;
}

#footer-row
{
  width: 100%;
  margin: 0;
  height:100%;

  background: #1a1a1a;
}

.footer #footer-logo
{
  padding: 40px 0 40px 0;
}

.footer h1
{
  font-family: 'antoniobold';
  font-size: 1.2em;

  color: #f5ba3a;
}

.footer p
{
  font-family: 'eausans_book';

  color: #7d7d7d;
}

#socialcenter 
{
  text-align: center;
}

.footer .container .social-media
{
  height: 40px;
  padding-left: 0;

  list-style: none;
}

.footer .container .col-md-10 #footer-toprow
{
  padding: 15px 0 15px 0;

  border-bottom: 1px solid #2d2d2d;
}

.footer .container .col-md-10 #footer-bottomrow
{
  padding: 15px 0 6px 0;
}

.footer ul 
{
  display: inline-block;
}

.footer .container .social-media li
{
  font-size: 1.7em;

  float: left;

  padding-right: 11px;

  color: #7d7d7d;
}

.footer .container .social-media li:hover
{
  color: white;
}

.ck_form.ck_naked
{
  font-size: 16px;
  line-height: 1.5em;

  clear: both;
  overflow: hidden;

  margin: 0;

  text-align: center;

  color: #666;
  border: none;
  /* divider image */
  background: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.ck_form.ck_naked p
{
  padding: 0;
}

.ck_form,
.ck_form *
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ck_form.ck_naked .ck_form_fields
{
  float: left;

  width: 100%;
  padding: 3px 0 20px 0;
}


.ck_errorArea
{
  display: none; 
}

#ck_success_msg
{
  padding-right: 10px;

  text-align: left;

  color: #7d7d7d;
  border: solid 1px #ddd;
  border-style: none;
  background: inherit;
}

.ck_form.ck_naked input[type='text'],
.ck_form.ck_naked input[type='email']
{
  font-family: 'eausans_book';
  font-size: 18px;

  float: left;

  width: 39%;
  height: auto;
  height: 42px;
  margin: 0;
  margin-right: 1%;
  margin-bottom: 5px;
  padding: 10px 8px;

  border: 1px solid #d6d6d6; /* stroke */
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0; /* border radius */
  background-color: #fff; /* layer fill content */
}

.ck_form input[type='text']:focus,
.ck_form input[type='email']:focus
{
  border-color: #aaa;
  outline: none;
}

.ck_form.ck_naked .ck_subscribe_button
{
  font-family: 'work_sansbold', Arial, Helvetica, sans-serif;
  font-size: 14px;

  float: left;

  width: 100%;
  width: 20%;
  height: 42px;
  margin: 0;
  padding: 9px 0;

  cursor: pointer;
  letter-spacing: 2px;

  color: #fff;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0; /* border radius */
  background: #d72b2a;
  text-shadow: none;
}


.ck_converted_content
{
  display: none;

  padding: 5%;

  background: #fff;
}

/* max width 500 */

.ck_form.ck_naked.width500 .ck_subscribe_button
{
  float: none;

  width: 100%;
  margin-top: 5px;
}

.ck_form.ck_naked.width500 input[type='text'],
.ck_form.ck_naked.width500 input[type='email']
{
  width: 49%;
}

.ck_form.ck_naked.width500 input[type='email']
{
  width: 50%;
  margin-right: 0;
}

/* max width 400 */

.ck_form.ck_naked.width400 .ck_subscribe_button,
.ck_form.ck_naked.width400 input[type='text'],
.ck_form.ck_naked.width400 input[type='email']
{
  float: none;

  width: 100%;
}

.ck_slide_up,
.ck_modal,
.ck_slide_up .ck_naked,
.ck_modal .ck_naked
{
  min-width: 400px;
}

.page .ck_form.ck_naked
{
  max-width: 700px;
  margin: 50px auto;
}

a,
a:hover,
a:visited
{
  text-decoration: none;

  color: inherit;
}

@media only screen and (max-width : 480px)
{
  .ck_form.ck_naked .ck_subscribe_button
  {
    width: 100%;
  }
  .ck_form.ck_naked input[type='text']
  {
    width: 49%;
  }
  .ck_form.ck_naked input[type='email']
  {
    width: 50%;
    margin-right: 0;
  }

  #landing .v-center-wrap .v-center h1
  {
    font-size: 2.8em;

    letter-spacing: 5px;  

    color: white;
  }
  #landing .v-center-wrap .v-center h2
  {
    font-size: .9em;
    line-height: 32px;
  }
  /************************************/
  #landing2 .v-center-wrap .v-center
  {
    padding-top: 30px;

  }
  #landing2 .v-center-wrap .v-center h1
  {
    font-size: 2.0em;

    letter-spacing: 5px;

    color: #f5ba3a;
  }
  #landing2 .v-center-wrap .v-center h2
  {
    font-size: .8em;
    line-height: 20px;
  }
  #landing2 .v-center-wrap .v-center ul 
  {
    padding-left: 20px;
  }

  #landing2 .v-center-wrap .v-center li
  {
    padding-top: 3px;
    font-size: .7em;
    line-height: 25px;
  }
  /************************************/
  #landing3 .v-center-wrap .v-center h1
  {
    font-size: 2.8em;

    letter-spacing: 5px;

  }
  #landing3 .v-center-wrap .v-center h2
  {
    font-size: 1.1em;
    line-height: 32px;
  }
   #landing3 .v-center-wrap .v-center h3
  {
    font-size: 1.1em;
    line-height: 32px;
  }

  #landing3 .image1 {
    content: url('http://cdn.ember.gg/academy/images/mobileimprove.png');
  }

  #landing3 .image2 {
    content: url('http://cdn.ember.gg/academy/images/mobileaggressive.png');
  }

  #landing3 .image3 {
    content: url('http://cdn.ember.gg/academy/images/mobilestyle.png');
  }

  #landing3 .sliderimage {
    padding-top: 60px;
  }


  /************************************/

  #landing4 .v-center-wrap .v-center 
  {
    padding-top: 0px;
  }
  #landing4 .v-center-wrap .v-center h1
  {
    font-size: 2.0em;

    letter-spacing: 5px;

    color: #f5ba3a;
  }
  #landing4 .v-center-wrap .v-center h2
  {
    font-size: .7em;
    line-height: 14px;

  }
   #landing4 .v-center-wrap .v-center h3
  {
    font-size: .8em;
    line-height: 15px;
    text-align: left;
    padding-left: 20px;
  }
  /************************************/

  #landing5 .v-center-wrap .v-center
  {
    padding-top: 30px;

  }
  #landing5 .v-center-wrap .v-center h1
  {
    font-size: 2.8em;

    letter-spacing: 5px;
    display:none;

  }
  #landing5 .v-center-wrap .v-center h2
  {
    font-size: 2.5em;
    line-height: 32px;
    

  }
   #landing5 .v-center-wrap .v-center h3
  {
    font-size: 1.3em;
    line-height: 32px;
  }
   #landing5 .v-center-wrap .v-center h4
  {
    font-size: 1.0em;
    color:white;
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #footer-logo {
    display:none;
  }


  #landing5 .card-front p
  {
    font-family: 'Montserrat-Regular';
    text-align: center;
    font-size: 1.0em;
    color: rgb(249,213, 133); 
    
  }

  #mlanding5 .v-center-wrap .v-center
  {
    padding-top: 50px;

  }

  #mlanding5{
    height:100%;
    background: rgb(74,74,78);

  }

  #mlanding5 .about-us-card-wrap
  {
    width: 100%;
    height: 145px;
    background: rgb(74,74,78);
    border-bottom: 2px solid #000;
  }

  #mlanding5 .about-us-card
  {
    margin: 2px;

    padding-top: 10px;

    padding-bottom: 20px;
  }

  #mlanding5 h1{
    text-align: center;
    font-family: 'Montserrat-Regular';
    font-size: 1.0em;
    color: rgb(245,186,58);
  }

  #mlanding5 .card-front h2
  {
    font-family: 'work_sansbold';
    font-size: 1.3em;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 15px;
    color: white;
  }

  #mlanding5 .card-front h3
  {
    font-family: 'Montserrat-Black';
    font-size: .8em;
    text-align: center;
    color: rgb(245,186,58);

  }

  #mlanding5 .card-front h4
  {
    font-family: 'Montserrat-Regular';
    text-align: center;
    font-size: 1.0em;
    text-align: center;
    color: rgb(245,186,58);
    
  }

  #mlanding5 .card-front p
  {
    font-family: 'Montserrat-Regular';
    text-align: center;
    padding-top: 20px;
    font-size: 1.0em;
    
    color: rgb(249,213, 133); 
    
  }
    

  #mlanding5 .card-back p
  {
    font-family: 'Montserrat-Regular';
    font-size: 1.0em;
    line-height: 15px;
    padding-top: 0px;
    margin: 10px;

    color: rgb(249,213, 133); 
    display: hidden;

  }

  #mlanding5 .card-back
  {
    font-family: 'Montserrat-Regular';
    font-size: 0.8em;
    line-height: 15px;

    color: rgb(249,213, 133); 
    display: hidden;

  }

  #mlanding5 .card-container
  {
    padding-bottom: 0px;

  }

  #mlanding5 .col-md-4.card:hover .about-us-card-wrap
  {
    background: #7d7d7d;
  }

  #mlanding5 .card
  {

    padding: 0 10px 0 10px;

    padding-bottom: 10px;
  }

  #landing3 .fp-controlArrow 
  {
      -webkit-transform: scale(.4);
      transform: scale(.4);
      top: 90%;
  }

  #faq-landing 
  {
    height: 300px;
  }



  #program-landing 
  {
    height: 300px;
  }


  .page-landing-content h1
  {
    font-family: montserratbold;
    font-size: 2em;

    color: white;
  }

  .page-landing-content h2
  {
    font-family: antonioregular;
    font-size: 1.5em;

    letter-spacing: 2px;

    color: #f5ba3a;
  }

  .page-info h1
  {
    font-size: 3em;
  }

  .page-info h2
  {
    font-size: 1.3em;
    font-family: 'montserratbold';
  }

  .page-info p
  {
    font-family: 'Montserrat-Regular';
    color: #5E5E5E;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width : 400px)
{
  .ck_form.ck_naked .ck_subscribe_button,
  .ck_form.ck_naked input[type='text'],
  .ck_form.ck_naked input[type='email']
  {
    width: 100%;
    margin-bottom: 10px;
  }
  
  {
    width: 100%;
    margin-bottom: 10px;
  }
  
  {
    width: 100%;
    margin-bottom: 10px;
  }

}