nav(
  class="navbar navbar-default navbar-fixed-top ng-scope",
  ng-class="navbg",
  role="navigation",
  ng-controller="navCtrl"
)
  div(class="container")
    div(class="navbar-header")
      button(
        type="button", 
        class="navbar-toggle", 
        ng-init="navCollapsed=true", 
        ng-click="collapseNav()"
      )
        i(class="fa fa-bars")
      a(class="navbar-brand", href="redirect.html")
        img(src="http://cdn.ember.gg/images/logo.png")
    div(class="collapse, navbar-collapse", uib-collapse="navCollapsed")
      ul(class="nav navbar-nav navbar-right")
        li(ng-click="collapseNav()")
          a(href="http://www.ember.gg/") EMBER HOME
        li(ng-click="collapseNav()")
          a(href="/") PROGRAM
        li(ng-click="collapseNav()")
          a(href="/faq") FAQ
