@font-face
{
  font-family: 'antoniobold';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/antonio-bold-webfont.eot');
  src: url('../../fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/antonio-bold-webfont.woff2') format('woff2'),
  url('../../fonts/antonio-bold-webfont.woff') format('woff'),
  url('../../fonts/antonio-bold-webfont.ttf') format('truetype'),
  url('../../fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
}

@font-face
{
  font-family: 'antonioregular';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/antonio-regular-webfont.eot');
  src: url('../../fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/antonio-regular-webfont.woff2') format('woff2'),
  url('../../fonts/antonio-regular-webfont.woff') format('woff'),
  url('../../fonts/antonio-regular-webfont.ttf') format('truetype'),
  url('../../fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
}

@font-face
{
  font-family: 'eausans_bold';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/eau_sans_bold-webfont.eot');
  src: url('../../fonts/eau_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/eau_sans_bold-webfont.woff2') format('woff2'),
  url('../../fonts/eau_sans_bold-webfont.woff') format('woff'),
  url('../../fonts/eau_sans_bold-webfont.ttf') format('truetype'),
  url('../../fonts/eau_sans_bold-webfont.svg#eausans_bold') format('svg');
}

@font-face
{
  font-family: 'eausans_book';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/eau_sans_book-webfont.eot');
  src: url('../../fonts/eau_sans_book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/eau_sans_book-webfont.woff2') format('woff2'),
  url('../../fonts/eau_sans_book-webfont.woff') format('woff'),
  url('../../fonts/eau_sans_book-webfont.ttf') format('truetype'),
  url('../../fonts/eau_sans_book-webfont.svg#eausans_book') format('svg');
}

@font-face
{
  font-family: 'montserratbold';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/montserrat-bold-webfont.eot');
  src: url('../../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../../fonts/montserrat-bold-webfont.woff') format('woff'),
  url('../../fonts/montserrat-bold-webfont.ttf') format('truetype'),
  url('../../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
}

@font-face
{
  font-family: 'work_sansbold';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/worksans-bold-webfont.eot');
  src: url('../../fonts/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/worksans-bold-webfont.woff2') format('woff2'),
  url('../../fonts/worksans-bold-webfont.woff') format('woff'),
  url('../../fonts/worksans-bold-webfont.ttf') format('truetype'),
  url('../../fonts/worksans-bold-webfont.svg#work_sansbold') format('svg');
}

html,
body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-default
{
  height: 56px;
  border-style: none;
  background: #1a1a1a;
}

.navbar-transparent
{
  background: rgba(0, 0, 0, 0) !important;
}

.navbar-default .navbar-brand
{
  padding: 7px;
}

.navbar-default .navbar-brand img
{
  height: 42px;
}

.navbar-default .navbar-nav li a
{
  font-family: 'work_sansbold', Arial, Helvetica, sans-serif;
  line-height: 56px;

  padding: 0 10px 0 10px;

  letter-spacing: 2px;

  color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
  background-color: inherit;
}

.navbar-default .navbar-nav li a:hover
{
  color: #7d7d7d;
}

.navbar-default .navbar-header button
{
  font-size: 36px;

  margin: 2px 10px 2px 0;
  padding: 0;

  color: white;
  border-style: none;
  border-radius: none;
  background: inherit;
}

.navbar-default .navbar-header button:hover
{
  background: inherit;
}

.navbar-collapse
{
  background: #1a1a1a;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .1s ease;
       -o-transition: height .1s ease;
          transition: height .1s ease;
}

.ui-view-content,
#landing
{
  width: 100%;
  height: 100%;
}

.active
{
  color: #7d7d7d !important;
  -webkit-box-shadow: inset  0 -4px 0 #f5ba3a;
     -moz-box-shadow: inset  0 -4px 0 #f5ba3a;
          box-shadow: inset  0 -4px 0 #f5ba3a;
}


/***********LANDING PAGE***********/
#landing .container
{
  height: 100%;
}

#landing video#bgvid
{
  position: fixed;
  z-index: -100;
  top: 50%;
  left: 50%;

  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;

  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);

  background: url(http://cdn.ember.gg/images/landingbg.jpg) no-repeat;
  background-size: cover;
}

#landing .cover-overlay
{
  position: absolute;
  z-index: -99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.5);
}

.v-center-wrap
{
  z-index: 1;

  display: table;

  width: 100%;
  height: 100%;
}

.v-center-wrap .v-center
{
  display: table-cell;

  vertical-align: middle;
}

#landing .v-center-wrap .v-center h1
{
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  font-size: 6em;

  letter-spacing: 5px;

  color: white;
}
#landing .v-center-wrap .v-center h2
{
  font-family: 'antoniobold', Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 42px;

  letter-spacing: 2px;

  color: #f5ba3a;
}

#news-landing
{
  position: relative;
  z-index: 100;

  height: 400px;

  background: url('http://cdn.ember.gg/images/headerjanna.jpg');
  background-color: black;
}

#teams-landing
{
  position: relative;
  z-index: 100;

  height: 400px;

  background: url('http://cdn.ember.gg/images/headerahri2.jpg');
  background-color: black;
}

#about-landing
{
  position: relative;
  z-index: 100;

  height: 400px;

  background: url('http://cdn.ember.gg/images/headerabout.jpg');
  background-color: black;
}

.team-header h1
{
  font-family: 'montserratbold';
  font-size: 2.6em;

  color: #d72b2a;
}

.team-header h2
{
  font-family: 'antonioregular';
  font-size: 1.4em;

  letter-spacing: 2px;

  color: #f5ba3a;
}

.about-us-card-wrap
{
  width: 100%;
  height: 500px;

  border-bottom: 15px solid #9c2322;
  background: #d72b2a;
}

.about-us-card
{
  margin: 40px;
  padding-top: 40px;
}

.card-front
{
  font-family: 'antonioregular';
  font-size: 3.2em;
  line-height: 80px;

  letter-spacing: 2px;

  color: white;
}

.card-back
{
  font-family: 'eausans_book';
  font-size: 1.1em;
  line-height: 30px;

  display: hidden;

  color: white;
}

.card-container
{
  padding-bottom: 70px;

  border-bottom: 1px solid #b3b3b3;
}

.col-md-4.card:hover .about-us-card-wrap
{
  border-bottom: 15px solid #565656;
  background: #7d7d7d;
}

.card
{
  padding: 0 10px 0 10px;
}

.player-col
{
  padding-right: 7px;
  padding-left: 7px;
}

.player-card
{
  float: left;

  width: 100%;
  max-width: 300px;
  margin: 30px 0 30px 0;

  background: #1a1a1a;
}

.player-card img 
{
  width: 100%;
}

.player-card h3
{
  font-family: montserratbold;
  font-size: 1.4em;

  letter-spacing: 1px;

  color: white;
}

.player-card h4
{
  font-family: antonioregular;

  color: #f5ba3a;
}

.player-card ul
{
  height: 30px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.player-card ul li
{
  float: left;
}

.player-card ul li .fa
{
  font-size: 2em;

  color: #7d7d7d;
}

.player-card ul li .fa:hover
{
  color: white;
}



.player-card .player-content
{
  margin: 15px;
}

.staff-container
{
  margin-top: 30px;

  background: white;
  -webkit-box-shadow: 0 3px 5px 0 #b3b3b3;
     -moz-box-shadow: 0 3px 5px 0 #b3b3b3;
          box-shadow: 0 3px 5px 0 #b3b3b3;
}

.meet-management
{
  margin-top: 30px;
}

.meet-management h1
{
  font-family: montserratbold;
  font-size: 4.4em;
}

.staff-container h1
{
  font-family: antonioregular;
  font-size: 2.2em;

  margin-bottom: 7px;

  color: #f0af24;
}

.staff-container h2
{
  font-family: eausans_bold;
  font-size: 1.1em;

  margin-top: 7px;

  color: #636161;
}

.staff-container ul
{
  list-style: none;
}

.staff-container ul li
{
  float: left;
}


.staff-desc
{
  float: left;

  background: #d72b2a;
}

.ember-wrap-top-margin
{
  margin-top: 12px;
}

.staff-desc h1
{
  font-family: montserratbold;
  font-size: 1.4em;

  margin: 0;
  padding: 15px 20px 10px 20px;

  letter-spacing: 2px;

  color: white;
}

.ember-wrap
{
  width: 100%;
  height: 120px;
  padding-left: 30px;
}

.ember-wrap ul
{
  height: 30px;
  padding-left: 0;
}

.ember-wrap li
{
  font-size: 1.4em;

  padding-right: 12px;

  color: #9c9c9c;
}

.ember-wrap li:hover
{
  color: black;
}

#teams, #about, #news {
  background-image: url('http://cdn.ember.gg/images/brushed.png');
  padding-bottom: 60px;
}

.player-page .player-box
{
  padding-left: 0;

  background: white;
  -webkit-box-shadow: 0 3px 5px 0 #b3b3b3;
     -moz-box-shadow: 0 3px 5px 0 #b3b3b3;
          box-shadow: 0 3px 5px 0 #b3b3b3;
}

.player-page .player-content
{
  margin: 10px 30px 10px 20px;
}

.player-page .col-md-5
{
  padding: 0;
}

.player-page .player-box img
{
  width: 100%;
}

.player-page h1
{
  font-family: montserratbold;
  font-size: 2.2em;

  margin-top: 0;

  color: #d72b2a;
}

.player-page h2
{
  font-family: antonioregular;
  font-size: 1.3em;

  margin-top: 10px;

  color: #f5ba3a;
}

.player-page h3
{
  font-family: eausans_bold;
  font-size: 1em;

  margin-top: 10px;
  padding-bottom: 16px;

  color: #7d7d7d;
  border-bottom: 1px solid #7d7d7d;
}

.player-page p
{
  font-family: eausans_book;
  font-size: .8em;

  color: #7d7d7d;
}

.cover-overlay
{
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.5);
}

.page-landing-content
{
  position: absolute;
  bottom: 0;

  margin-bottom: 40px;
}

.page-landing-content h1
{
  font-family: montserratbold;
  font-size: 6em;

  color: white;
}

.page-landing-content h2
{
  font-family: antonioregular;
  font-size: 1.5em;

  letter-spacing: 2px;

  color: #f5ba3a;
}

.page-header-content
{
  width: 100%;
  height: 30px;
  margin-bottom: 30px;

  border-bottom: 1px solid #d6d6d6;
}

.page-header-content h3
{
  font-family: montserrat;

  letter-spacing: 1px;

  color: #d72b2a;
}

.no-padding
{
  padding: 0;
}

.clear-bg {
  background: rgba(0, 0, 0, 0);
}

.grey-bg {
  background: #1a1a1a;
}

.footer
{
  position: relative;
  bottom: 0;

  width: 100%;
  /* Set the fixed height of the footer here */
  height: 240px;
  margin-right: -15px;

  background: #1a1a1a;
}

#footer-row
{
  width: 100%;
  margin: 0;

  background: #1a1a1a;
}

.footer #footer-logo
{
  padding: 40px 0 40px 0;
}

.footer h1
{
  font-family: 'antoniobold';
  font-size: 1.2em;

  color: #f5ba3a;
}

.footer p
{
  font-family: 'eausans_book';

  color: #7d7d7d;
}

.footer .container .social-media
{
  height: 40px;
  padding-left: 0;

  list-style: none;
}

.footer .container .col-md-10 #footer-toprow
{
  padding: 15px 0 15px 0;

  border-bottom: 1px solid #2d2d2d;
}

.footer .container .col-md-10 #footer-bottomrow
{
  padding: 15px 0 6px 0;
}

.footer .container .social-media li
{
  font-size: 1.7em;

  float: left;

  padding-right: 11px;

  color: #7d7d7d;
}

.footer .container .social-media li:hover
{
  color: white;
}

#thanks
{
  width: 100%;
  height: 100%;

  background: url(http://cdn.ember.gg/images/landingbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#thanks .container
{
  height: 100%;
}

#thanks h1
{
  font-family: montserratbold;
  font-size: 5em;

  text-align: center;

  color: white;
}

#academy
{
  width: 100%;
  height: 100%;

  background: url(http://cdn.ember.gg/images/landingbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#academy .container
{
  height: 100%;
}

#academy h1
{
  font-family: montserratbold, Arial, Helvetica, sans-serif;
  font-size: 5em;

  color: white;
}

#academy h2
{
  font-family: 'antoniobold', Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 42px;

  padding-bottom: 20px;

  letter-spacing: 2px;

  color: #f5ba3a;
}

.ck_form.ck_naked
{
  font-size: 16px;
  line-height: 1.5em;

  clear: both;
  overflow: hidden;

  margin: 0;

  text-align: center;

  color: #666;
  border: none;
  /* divider image */
  background: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.ck_form.ck_naked p
{
  padding: 0;
}

.ck_form,
.ck_form *
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ck_form.ck_naked .ck_form_fields
{
  float: left;

  width: 100%;
  padding: 3px 0 20px 0;
}
/* Form fields */

.ck_errorArea
{
  display: none; /* temporary */
}

#ck_success_msg
{
  padding-right: 10px;

  text-align: left;

  color: #7d7d7d;
  border: solid 1px #ddd;
  border-style: none;
  background: inherit;
}

.ck_form.ck_naked input[type='text'],
.ck_form.ck_naked input[type='email']
{
  font-family: 'eausans_book';
  font-size: 18px;

  float: left;

  width: 39%;
  height: auto;
  height: 42px;
  margin: 0;
  margin-right: 1%;
  margin-bottom: 5px;
  padding: 10px 8px;

  border: 1px solid #d6d6d6; /* stroke */
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0; /* border radius */
  background-color: #fff; /* layer fill content */
}

.ck_form input[type='text']:focus,
.ck_form input[type='email']:focus
{
  border-color: #aaa;
  outline: none;
}

.ck_form.ck_naked .ck_subscribe_button
{
  font-family: 'work_sansbold', Arial, Helvetica, sans-serif;
  font-size: 14px;

  float: left;

  width: 100%;
  width: 20%;
  height: 42px;
  margin: 0;
  padding: 9px 0;

  cursor: pointer;
  letter-spacing: 2px;

  color: #fff;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0; /* border radius */
  background: #d72b2a;
  text-shadow: none;
}


.ck_converted_content
{
  display: none;

  padding: 5%;

  background: #fff;
}

/* max width 500 */

.ck_form.ck_naked.width500 .ck_subscribe_button
{
  float: none;

  width: 100%;
  margin-top: 5px;
}

.ck_form.ck_naked.width500 input[type='text'],
.ck_form.ck_naked.width500 input[type='email']
{
  width: 49%;
}

.ck_form.ck_naked.width500 input[type='email']
{
  width: 50%;
  margin-right: 0;
}

/* max width 400 */

.ck_form.ck_naked.width400 .ck_subscribe_button,
.ck_form.ck_naked.width400 input[type='text'],
.ck_form.ck_naked.width400 input[type='email']
{
  float: none;

  width: 100%;
}

.ck_slide_up,
.ck_modal,
.ck_slide_up .ck_naked,
.ck_modal .ck_naked
{
  min-width: 400px;
}

.page .ck_form.ck_naked
{
  max-width: 700px;
  margin: 50px auto;
}

a,
a:hover,
a:visited
{
  text-decoration: none;

  color: inherit;
}

@media only screen and (max-width: 1200px)
{
  .team-header h1
  {
    font-size: 2.05em;
  }

  .team-header h2
  {
    font-size: 1.2em;

    letter-spacing: 2px;
  }

  .player-card h3
  {
    font-size: 1.15em;
  }

  .player-card h4
  {
    font-size: 1.0em;
    letter-spacing: 1px;
    color: #f5ba3a;
  }

  .player-card ul li .fa
  {
    font-size: 2em;
  }
}

@media only screen and (max-width : 480px)
{
  .ck_form.ck_naked .ck_subscribe_button
  {
    width: 100%;
  }
  .ck_form.ck_naked input[type='text']
  {
    width: 49%;
  }
  .ck_form.ck_naked input[type='email']
  {
    width: 50%;
    margin-right: 0;
  }

  #landing .v-center-wrap .v-center h1
  {
    font-size: 2.8em;

    letter-spacing: 5px;

    color: white;
  }
  #landing .v-center-wrap .v-center h2
  {
    font-size: 1.1em;
    line-height: 32px;
  }

  .jumbotron h1
  {
    font-size: 3.6em;
  }

  .jumbotron h2
  {
    font-size: 1.2em;
  }

  .card-front
  {
    font-size: 2.8em;
    line-height: 70px;
  }

  .meet-management h1
  {
    font-size: 2.8em;
  }

  #thanks h1
  {
    font-size: 3em;
  }
  #academy h1
  {
    font-size: 3em;
  }

  #academy h2
  {
    font-size: 1.4em;

    padding-bottom: 0;
  }
}

@media only screen and (max-width : 400px)
{
  .ck_form.ck_naked .ck_subscribe_button,
  .ck_form.ck_naked input[type='text'],
  .ck_form.ck_naked input[type='email']
  {
    width: 100%;
    margin-bottom: 10px;
  }
  
  {
    width: 100%;
    margin-bottom: 10px;
  }
  
  {
    width: 100%;
    margin-bottom: 10px;
  }
}
