footer.footer
      #footer-row.row
        .container
          .col-md-2
            img#footer-logo.img-responsive.center-block(src='http://cdn.ember.gg/images/logo.png')
          .col-md-10
            #footer-toprow.row
              .col-md-3
                h1 FOLLOW OUR JOURNEY
                ul.social-media
                  li
                    a(target='_blank', href='https://twitter.com/gg_ember')
                      i.fa.fa-twitter
                  li
                    a(target='_blank', href='https://www.facebook.com/ember.gg/')
                      i.fa.fa-facebook
                  li
                    a(target='_blank', href='https://www.instagram.com/ember.gg/')
                      i.fa.fa-instagram
                  li
                    a(target='_blank', href='http://www.twitch.tv/ember_gg')
                      i.fa.fa-twitch
                  li
                    a(target='_blank', href='https://www.youtube.com/channel/UCB804MUFVcbNeGgEuM4XTfQ')
                      i.fa.fa-youtube-play
                  li
                    a(target='_blank', href='https://vine.co/u/1288365283844993024')
                      i.fa.fa-vine
              .col-md-7
                h1 SIGN UP TO GET NOTIFIED WHEN EMBER ACADEMY LAUNCHES
                .ck_form.ck_naked
                  .ck_form_fields
                    #ck_success_msg(style='display:none;')
                      p
                        | Success! Thank you for subscribing to Ember's Newsletter. Please check your email to confirm your subscription.
                    // Form starts here
                    form#ck_subscribe_form.ck_subscribe_form(action='https://app.convertkit.com/landing_pages/27651/subscribe', data-remote='true')
                      input#ck_form_options(type='hidden', value='{"form_style":"naked","embed_style":"inline","embed_trigger":"scroll_percentage","scroll_percentage":"70","delay_seconds":"10","display_position":"br","display_devices":"all","days_no_show":"15","converted_behavior":"show"}')
                      input#landing_page_id(type='hidden', name='id', value='27651')
                      .ck_errorArea
                        #ck_error_msg(style='display:none')
                          p There was an error submitting your subscription. Please try again.
                      .ck_control_group.ck_email_field_group
                        label.ck_label(for='ck_emailField', style='display: none') Email Address
                        input#ck_firstNameField.ck_first_name(type='text', name='first_name', placeholder='First Name')
                        input#ck_emailField.ck_email_address(type='email', name='email', placeholder='Email Address', required='')
                      button#ck_subscribe_button.subscribe_button.ck_subscribe_button.btn.fields
                        | SUBMIT
              .col-md-2
                h1 CONTACT US
                p info@ember.gg
            #footer-bottomrow.row
              .col-md-12
                p © 2016 Team Elemental, Inc. All rights reserved.