extends layout
block meta-tags
    meta(name='description', content='Learn more about the staff and ideologies of League of Legends NACS team Ember.')
    meta(property='og:title', content='Ember')
    meta(property='og:url', content='http://www.ember.gg/about')
    meta(property='og:type', content='website')
    meta(property='og:description', content="Learn more about the staff and ideologies of League of Legends NACS team Ember.")
block head-links

block content
  include ../partials/main/about-content
  include ../partials/footer