extends layout

block meta-tags
  meta(name='description', content='League of Legends North American Challenger Series team Ember.')
  meta(name='keywords', content='Ember, League of Legends, lol')
  meta(property='og:title', content='Ember')
  meta(property='og:url', content='http://www.ember.gg')
  meta(property='og:type', content='website')
  meta(property='og:description', content="League of Legends NACS team Ember. Better humans become better athletes. Welcome to Ember's journey. Get to know who we are and what we strive for.")

block head-links

block content
  include ../partials/main/landing-content

