extends layout
block meta-tags
    meta(name='description', content='Stay up to date with the latest news from League of Legend\'s Ember.')
    meta(property='og:title', content='Ember News')
    meta(property='og:url', content='http://www.ember.gg/news')
    meta(property='og:type', content='website')
    meta(property='og:description', content="Stay up to date about the latest from Ember.")
block head-links
  script(src='https://static.medium.com/embed.js')
block content
  include ../partials/main/news-content
  include ../partials/footer
