extends layout
block meta-tags
    meta(name='description', content='Find out who is on the roster for League of Legend\'s Ember.')
    meta(property='og:title', content='Ember')
    meta(property='og:url', content='http://www.ember.gg/teams')
    meta(property='og:type', content='website')
    meta(property='og:description', content="Find out who is on the roster for League of Legends team Ember.")
block content
  include ../partials/main/teams-content
  include ../partials/footer