extends layout

block head-links
  link(rel='stylesheet', href='academy/css/stylesheet.min.css')
  link(rel="stylesheet", type="text/css" href="academy/css/jquery.fullPage.css")

block content
  include ../partials/academy/nav
  include ../partials/academy/faq
  include ../partials/footer