#about
  #about-landing.jumbotron
    .container
      .page-landing-content
        h1 ABOUT US
        h2 OUR VALUES AND IDENTITY
  .container.card-container
    .row
      .col-md-4.card
        .about-us-card-wrap
          .card-front.about-us-card
            p WE BELIEVE THAT BETTER HUMANS BECOME BETTER ATHLETES.
          .about-us-card.card-back
            p
              | Why? Because esports has become yet another industry where winning is the only thing that matters, at the expense of everything else. We want to win too, but we disagree with that approach. We think that by living a fulfilling life, which includes having loving relationships, will enable — not hinder — our players and staff in becoming better athletes, coaches, leaders, and above all, humans.
      .col-md-4.card
        .about-us-card-wrap
          .card-front.about-us-card
            p WE BELIEVE IN FOSTERING REGIONAL TALENT.
          .about-us-card.card-back
            p
              | And regional to us means North America. Part of developing a sport is to invest in youth development. Who is responsible for that in esports? The leagues? The teams? The game developers? Nobody really knows. What we do know is that we are going to be a part of the solution.
      .col-md-4.card
        .about-us-card-wrap
          .card-front.about-us-card
            p WE BELIEVE IN TRANSPARENCY.
          .about-us-card.card-back
            p
              | Why are esports salaries so secretive?
              | The same reason why start-up employees don’t get to know company valuation or ownership percentage along with number of options or shares received. Companies have more leverage when there is information asymmetry. And that’s wrong. It is especially important for esports players to have more information about salaries because they are putting their education on hold for an uncertain future.
  .container.meet-management
    .row
      h1 MEET OUR MANAGEMENT
  .container.staff-container
    .row
      .staff-desc
        h1 FRONT OFFICE
    .row.ember-wrap-top-margin
      .col-md-4
        .ember-wrap
          h1 Bao Lam
          h2 GENERAL MANAGER
          ul
            li
              a(target='_blank', href='https://twitter.com/MBRBao')
                i.fa.fa-twitter
            li
              a(target='_blank', href='https://www.linkedin.com/in/bao-lam-47264820')
                i.fa.fa-linkedin
      .col-md-4
        .ember-wrap
          h1 Weldon Green
          h2 HEAD COACH
          ul
            li
              a(target='_blank', href='https://twitter.com/MindGamesWeldon')
                i.fa.fa-twitter
      .col-md-4
        .ember-wrap
          h1 Rohit Nathani
          h2 STRATEGIC COACH
          ul
            li
              a(target='_blank', href='https://twitter.com/MBRCurryShotGG')
                i.fa.fa-twitter
            li
              a(target='_blank', href='http://www.twitch.tv/legumee')
                i.fa.fa-twitch
    .row
      .col-md-4
        .ember-wrap
          h1 Brendan McGee
          h2 ANALYST
          ul
      .col-md-4
        .ember-wrap
          h1 Christie Tang
          h2 PLAYER DEVELOPMENT COORDINATOR
          ul
            li
              a(target='_blank', href='https://twitter.com/MBRLustless')
                i.fa.fa-twitter
  .container.staff-container
    .row
      .staff-desc
        h1 PRODUCT
    .row.ember-wrap-top-margin
      .col-md-4
        .ember-wrap
          h1 Jon Pan
          h2 CEO
          ul
            li
              a(target='_blank', href='https://twitter.com/notvert')
                i.fa.fa-twitter
            li
              a(target='_blank', href='https://www.linkedin.com/in/jonpan')
                i.fa.fa-linkedin
      .col-md-4
        .ember-wrap
          h1 Deanna Nguyen
          h2 VISUAL & BRAND DESIGNER
          ul
            li
              a(target='_blank', href='https://twitter.com/kyutes')
                i.fa.fa-twitter
            li
              a(target='_blank', href='https://www.linkedin.com/in/deannangyn')
                i.fa.fa-linkedin
      .col-md-4
        .ember-wrap
          h1 Vinh Vu
          h2 CORE WEB DEVELOPER
          ul
            li
              a(target='_blank', href='https://twitter.com/VinnyVudoo')
                i.fa.fa-twitter
            li
              a(target='_blank', href='https://www.linkedin.com/in/vinhvanvu')
                i.fa.fa-linkedin
    .row
      .col-md-4
        .ember-wrap
          h1 Sung Woo Park
          h2 ACADEMY WEB DEVELOPER
          ul
