#landing
  .cover-overlay
  div
    video#bgvid(preload='', autoplay='', poster='http://cdn.ember.gg/images/landingbg.jpg', loop='')
      source(src='http://cdn.ember.gg/images/embercovervid0123161.mp4', type='video/mp4')
      source(src='http://cdn.ember.gg/images/embercovervid0123161.webm', type='video/webm')
  .container
    .v-center-wrap
      .v-center
        h1 BETTER HUMANS BECOME BETTER ATHLETES
        h2
          | WELCOME TO EMBER'S JOURNEY. 
          br
          |  GET TO KNOW WHO WE ARE AND WHAT WE STRIVE FOR.