-var isHome = (id === 'HOME' ? 'navbar-transparent' : '')

nav.navbar.navbar-default.navbar-fixed-top(class=isHome)
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
        span.sr-only Toggle navigation
        i.fa.fa-bars
      a.navbar-brand(href='http://www.ember.gg/')
        img(src='http://cdn.ember.gg/images/logo.png')
    #navbar.collapse.navbar-collapse(class=isHome)
      ul.nav.navbar-nav.navbar-right
        -var obj = { 'ACADEMY':'http://academy.localhost:3000/', 'NEWS':'/news', 'TEAMS':'/teams', 'ABOUT':'/about', 'STORE':'https://store.ember.gg/'}

        -each val, key in obj
          -if (id === key)
            li
              a.active(href='#{val}') #{key}
          -else 
            li
              a(href='#{val}') #{key}
        
