#news
  #news-landing.jumbotron
    .container
      .page-landing-content
        h1 NEWS
        h2 STAY UPDATED WITH ALL THINGS EMBER
  .container
    .page-header-content
      h3 LATEST
    .mdm-wrap
      a.m-story(data-width='100%', data-collapsed='true', href='https://medium.com/ember-news/work-at-ember-60dbbfeba72e')
    .mdm-wrap
      a.m-story(data-width='100%', data-collapsed='true', href='https://medium.com/ember-news/ember-roster-and-staff-changes-february-2016-f088e272a669')
    .mdm-wrap
      a.m-story(data-width='100%', data-collapsed='true', href='https://medium.com/ember-news/ember-2016-summer-internship-program-656d56fa39b4')
    .mdm-wrap
      a.m-story(data-width='100%', data-collapsed='true', href='https://medium.com/ember-news/work-at-ember-60dbbfeba72e')