#teams
  #teams-landing.jumbotron
    .container
      .page-landing-content
        h1 TEAMS
        h2 MEET THE PLAYERS
  .container
    .row
      .team-header.col-md-2.col-sm-6.col-xs-12
        h1 LEAGUE OF LEGENDS
        h2 NORTH AMERICAN CHALLENGER SERIES
      .player-col.col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2.col-md-2.col-md-offset-0
        .player-card
          img.img-responsive.center-block(src='http://cdn.ember.gg/images/top.jpg', alt='Ember Solo')
          .player-content-wrap
            .player-content
              h3 SOLO
              h4 COLIN EARNEST
              ul
                li
                  a(target='_blank', href='https://twitter.com/MBRSolo')
                    i.fa.fa-twitter
      .player-col.col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2.col-md-2.col-md-offset-0
        .player-card
          img.img-responsive.center-block(src='http://cdn.ember.gg/images/jungle.jpg', alt='Ember Contractz')
          .player-content-wrap
            .player-content
              h3 CONTRACTZ
              h4 JUAN GARCIA
              ul
                li
                  a(target='_blank', href='https://twitter.com/MBRContractz')
                    i.fa.fa-twitter
      .player-col.col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2.col-md-2.col-md-offset-0
        .player-card
          img.img-responsive.center-block(src='http://cdn.ember.gg/images/mid.jpg', alt='Ember GoldenGlue')
          .player-content-wrap
            .player-content
              h3 GOLDENGLUE
              h4 GREYSON GILMER
              ul
                li
                  a(target='_blank', href='https://twitter.com/MBRgoldenglue')
                    i.fa.fa-twitter
      .player-col.col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2.col-md-2.col-md-offset-0
        .player-card
          img.img-responsive.center-block(src='http://cdn.ember.gg/images/kill2.png', alt='Ember Lod')
          .player-content-wrap
            .player-content
              h3 LOD
              h4 BENJAMIN DEMUNCK
              ul
                li
                  a(target='_blank', href='https://twitter.com/MBRLOD')
                    i.fa.fa-twitter
      .player-col.col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2.col-md-2.col-md-offset-0
        .player-card
          img.img-responsive.center-block(src='http://cdn.ember.gg/images/supp.png', alt='Ember Stunt')
          .player-content-wrap
            .player-content
              h3 STUNT
              h4 WILLIAM CHEN
              ul
                li
                  a(target='_blank', href='https://twitter.com/MBRStunt')
                    i.fa.fa-twitter
